@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}/*프리텐다드 웹폰트 연결*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #212121;
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style: none;
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    line-height: 24px;
    color: #000;
    background-color: #ffffff;
}

/*스크롤 꾸미기*/
body::-webkit-scrollbar {/*스크롤바 전체*/
    width: 15px;
  }
  body::-webkit-scrollbar-thumb {/*스크롤바 막대*/
    background-color: #515151;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  body::-webkit-scrollbar-track {/*스크롤바 막대 외부*/
    background-color: rgb(170, 170, 170);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

/*헤더*/
header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    height:80px;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
    z-index: 2;
    overflow: hidden;
  }
  .logo_width{
   width: 150px; 
  }
#inner{
    width: 80%;
    margin: 16px auto;
}
#logo{
    float: left;
    width: 15%;
    margin-top: 6px;
}
#nav{
    float: left;
    width: 75%;
    margin-top: 8px;
}
#nav li{
    float: left;
    margin-left: 15%;
}
#nav li a{
    font-size: 18px;
    font-weight: 500;
    position: relative;/*밑줄 기준*/
}
#nav li a span{
    display: inline-block; 
            width: 100%; /*밑줄 길이*/
            height: 2px; /*밑줄 두께*/
            background-color: #000;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);/*밑줄 길이 없애기*/
            transform-origin: left;/*밑줄 길이의 기준점을 왼쪽으로 두기*/
            transition: all 1s;
}
#nav li a:hover span{
    transform: scaleX(1);/*밑줄 길이 나타나게 만들기*/
}
#icon{
    float: right;
    width: 10%;
    margin-top: 5px;
}
#icon a{
    float: right;
    margin-left: 15%;
}
.mypage{
    width: 28px;
}
.basket{
    width: 30px;
}

/*모바일 내비 안보이게 만들기!!*/
#header{
    display: none;
}
/*모바일 로고 꾸미기*/
#header #m_logo{
    margin-left: 5%;
    margin-top: 3%;
    padding-bottom: 3%;
}


/*스크롤 내리면 헤더 배경색 바뀜*/
.down {
    background-color:rgba(255, 255, 255, 0.811);
    -webkit-transition-duration:5s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  }

/*아우터 신상 미니배너*/
#mini{
    width: 100%;
    height:300px;
    background: url(../images/mini_banner.jpg) no-repeat center top;
}
.mini_inner{
    width: 1600px;
    margin: auto;
    padding: 50px 0;
}
.mini_inner h4{
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgb(55, 55, 55);
    margin-left: 20%;
    margin-bottom: 80px;
}
.mini_inner p{
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    color: #fff;
    margin-left: 20%;
}
.mini_inner a{
    display: inline-block;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    margin-left: 20%;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.8s;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
}
.mini_inner a:hover{
    background-color: #fff;
    color: #000;
}


/*늘지스트 스토리*/
.story_inner{
    width: 100%;
    margin: 80px auto;
}
.story_inner h1{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.story_inner h3{
    margin-top: 10px;
}
.story_inner p{
    font-family: 'pretendard-Regular';
    font-size: 16px;
    margin-top: 10px;
}
.story_flex{
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.story_flex img{
    width: 500px;
}

/*결제 혜택*/
.buy{
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 190px;
    margin: auto;
}
.samsung{
    width: 50%;
    background: #e8e8e8 url(../images/samsung_card.png) no-repeat right 64px center;
    padding-left: 8%;
    font-family: 'pretendard-Regular';
    padding-top: 38px;
}
.samsung span{
    color: #355ed1;
}
.samsung p{
    font-family: 'pretendard-Regular';
    font-size: 18px;
    font-weight: 600;
    margin-top: 65px;
}
.kb{
    width: 50%;
    background: #f7f7f7 url(../images/kb_pay.png) no-repeat right 64px center ;
    padding-left: 8%;
    font-family: 'pretendard-Regular';
    padding-top: 38px;
}
.kb span{
    color: #ffc617;
}
.kb p{
    font-family: 'pretendard-Regular';
    font-size: 15px;
    font-weight: 600;
    margin-top: 65px;
}

/*어바웃*/
.about{
    width: 100%;
    margin: 80px auto;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
}
.story_bg{
    width: 60%;
}
.about_t{
    text-align: center;
    width: 40%;
    padding-top: 16%;
}
.about_t img{
    margin-bottom: 50px;
}
.about_t p{
    margin-bottom: 30px;
    line-height: 30px;
}
.about_t a{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    font-family: 'pretendard-Regular';
    font-weight: bold;
    transition: all 0.3s;
}
.about_t a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: #000 solid 2px;
}

/*베스트*/
.swiper-container h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

.swiper-slide h5{
    font-family: 'pretendard-Regular';
    font-size: 15px;
    font-weight: bold;
}
.swiper-slide p{
    font-family: 'pretendard-Regular';
    font-size: 13px;
    
}
/*늘지스트 월드*/
.w_1{
    width: 100%;
    margin: auto;
}
.world_inner{
    width: 100%;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.world h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

.world1{
    position: relative;
}
.world1_t{
    position: absolute;
    bottom: 50px;
    left: 8%;
    color: #fff;
}
.world1_t h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.world1_a{
    position: absolute;
    bottom: 50px;
    right: 8%;
    color: #fff;
    font-family: 'pretendard-Regular';
    font-weight: bold;
    padding: 10px 20px;
    border: #fff solid 2px;
}


.world2{
    position: relative;
}
.world2_t{
    position: absolute;
    bottom: 50px;
    left: 8%;
    color: #fff;
}
.world2_t h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.world2_a{
    position: absolute;
    bottom: 50px;
    right: 8%;
    color: #fff;
    font-family: 'pretendard-Regular';
    font-weight: bold;
    padding: 10px 20px;
    border: #fff solid 2px;
}

.world3{
    position: relative;
}
.world3_t{
    position: absolute;
    bottom: 50px;
    left: 8%;
    color: #fff;
}
.world3_t h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.world3_a{
    position: absolute;
    bottom: 50px;
    right: 8%;
    color: #fff;
    font-family: 'pretendard-Regular';
    font-weight: bold;
    padding: 10px 20px;
    border: #fff solid 2px;
}

.world4{
    position: relative;
}
.world4_t{
    position: absolute;
    bottom: 50px;
    left: 8%;
    color: #fff;
}
.world4_t h4{
    margin-bottom: 10px;
    font-size: 22px;
}
.world4_a{
    position: absolute;
    bottom: 50px;
    right: 8%;
    color: #fff;
    font-family: 'pretendard-Regular';
    font-weight: bold;
    padding: 10px 20px;
    border: #fff solid 2px;
}


/*로고 띠애니메이션*/
.marquee{
    background-color: #000;
    height: 50px;
    padding: 31px 0;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}
.marquee div{
    width: 200%;
    height: 100px;
    background: url(../images/mark.png) repeat-x;
    position: absolute;
    animation: marquee 10s linear infinite;
}
@keyframes marquee{
    0%{left: 0;}
    100%{left: -100%;}
}

/*아이콘*/
.icon{
    margin: 20px 0;
}
.icon_inner{
    width: 800px;
    margin: auto;
}
.icon ul{
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
}
.icon ul li{
    text-align: center;
    float: left;
}
.icon a{
    font-family: 'Pretendard-Regular';
}


/*푸터*/

Footer p{
    font-size: 15px;
}
Footer a{
    font-family: 'pretendard-Regular';
}
.footer_bg{
    background-color: #e6e6e6;
}
.f_1{
    width: 80%;
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}
.instagram{
    margin-right: 5px;
    opacity: 0.7;
    transition: all 0.7s;
}
.instagram:hover{
    opacity: 1;
}
.facebook{
    opacity: 0.7;
    transition: all 0.7s;
}
.facebook:hover{
    opacity: 1;
}

.footer_bg2{
    width: 80%;
    margin: 20px auto 20px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
}
.Customer_S a{
    font-weight: bold;
}

.footer_2_2 a{
    font-size: 15px;
}

/*반응형 배너 숨김*/
.page-start2{
    display: none;
}
.page-start3{
    display: none;
}

@media (max-width:1599px){
    .mini_inner{
        width: 80%;
    }
    .story_flex img{
        width: 100%;
    }
    .world_inner div{
        width: 50%;
    }
    .world_inner div img{
        width: 100%;
    }
}



/*태블릿*/
@media (max-width:1319px){
    .about_t{
        padding-top: 10%;
    }
    .gallery-center{
        width: 100%;
    }
}

@media (max-width:1055px){
    header{display: none;}

    
   
    /*모바일 내비 보이게 만들기!!*/
    #header{
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
    }


    /*모바일 내비 꾸미기*/
    /*움직이는 메뉴버튼*/

    input[id="menuicon"]{
        display:none;
    }

    /*메뉴 아이콘 버튼 크기, 위치*/
    input[id="menuicon"]+label{
        display:block;
        width:50px;
        height:30px;
        position:absolute;
        right:6%;
        top:34%;
        z-index:2;
        transition:all 0.5s;
        cursor:pointer;
    }

    /*메뉴 버튼 클릭했을 때 X버튼 색상*/
    input[id="menuicon"]:checked+label span{
        background: #000;
    }

    /*메뉴 세줄 버튼*/
    input[id="menuicon"]+label span{
        display:block;
        position:absolute;
        width:100%;
        height:5px;
        border-radius:30px;
        background:#000;
        transition:all 0.5s;
    }
    input[id="menuicon"]+label span:nth-child(1){
        top:0;
    }
    input[id="menuicon"]+label span:nth-child(2){
        top:50%;
        transform:translateY(-50%);
    }
    input[id="menuicon"]+label span:nth-child(3){
        bottom:0;
    }

    /*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
    input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
    input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
    input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}


    /*메뉴 창*/
    .sidebar{
        width:50%;
        height:100%;
        background: rgba(64, 64, 64, 0.5);
        position:fixed;
        top:0;
        right:-100%;
        z-index:1;
        transition:all 0.5s;
    }
    input[id="menuicon"]:checked+label+div{
        right:0;
    }
    .sidebar ul{
        margin-top: 80px;
    }
    .sidebar ul li a{
        display: block;
        padding: 10px;
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    /*푸터*/
    .f_1{
        flex-direction: column;
        justify-content: center;

    }
    .sns{
        padding-top: 7px;
    }

    .footer_bg2{
        flex-direction: column
    }

    /*배너*/
    .page-start_none{/*원래 배너 숨김*/
        display: none;
    }
    .page-start2{
        display: block;
    }
}

@media (max-width:814px){
    .icon ul{
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .icon_inner{
        width: 100%;
    }
    .icon_width{
       width: 50%;
    }
    .help{
       width: 30px;
    }
    .icon ul p{
        font-size: 13px;
    }
    .buy{
        flex-direction: column;
        justify-content: center;
    }
    .samsung{
        width: 90%;
        margin: auto;
    }
    .kb{
        width: 90%;
        margin: auto;
    }
    .samsung{
        background: #e8e8e8 url(../images/samsung_card.png) no-repeat 50% center;
    }
    .samsung a{
        text-align: center;
    }
    .samsung h1{
        font-size: 15px;
        text-align: center;
        padding-right: 8%;
    }
    .samsung p{
        font-size: 15px;
        padding-right: 8%;
    }

    .kb{
        background: #f7f7f7 url(../images/kb_pay.png) no-repeat 50% center;
    }
    .kb a{
        text-align: center;
    }
    .kb h1{
        font-size: 15px;
        text-align: center;
        padding-right: 8%;
    }
    .kb p{
        font-size: 15px;
        padding-right: 8%;
    }
    .samsung p{
        margin-bottom: 10px;
    }
    .kb p{
        margin-bottom: 10px;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }
    .story_bg{
        width: 100%;
    }
    .about_t{
        width: 100%;
        padding-bottom: 10px
    }
}

@media (max-width:680px){
    .world_inner{
        flex-direction: column;
        align-items: center
    }
    .world_inner div{
        width: 77%;
    }
    
    .world1_t{
    bottom: 113px;
    }
    .world2_t{
        bottom: 113px;
        }
    .world3_t{
        bottom: 113px;
            }
    .world4_t{
        bottom: 113px;
                }
    .world1_a{
        text-align: center;
        left: 8%;
        
    }               
    .world2_a{
        text-align: center;
        left: 8%;
    }
    .world3_a{
        text-align: center;
        left: 8%;
    }               
    .world4_a{
        text-align: center;
        left: 8%;
    } 
}

/*모바일*/
@media (max-width:600px){
    .swiper-wrapper .swiper-slide{

    }
    #header #m_logo{
        margin-top: 5%;
    }
    .page-start3{
        display: block;
    }
    .page-start2{
        display: none;
    }
    .story_flex{
        flex-direction: column
    }
    .samsung{
        padding-top: 14px;
    }
    .kb{
        padding-top: 14px;
    }
    .slide .swiper-button-next{
        display: none;
    }
    .slide .swiper-button-prev{
        display: none;
    }
    .story_inner p{
        margin-bottom: 10px;
    }
}

@media (max-width:435px){
    .swiper-slide h5{
        font-size: 12px;
    }
    .world1_t p{
        font-size: 14px;
    }
    .world2_t p{
        font-size: 14px;
    }
    .world3_t p{
        font-size: 14px;
    }
    .world4_t p{
        font-size: 14px;
    }
    Footer p{
        font-size: 12px;
    }
   
    input[id="menuicon"]+label{
        width: 35px;
        height: 24px;
    }
    .swiper-slide p{
        font-size: 13px;
    }
}
@media (max-width:350px){
    .about_t p{
        font-size: 14px;
    }
}